.request-wrapper {
  margin-top: 25px;
}

.type-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 14px;
  margin-top: 15px;
}

@media (max-width: 900px) {
  .type-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 550px) {
  .type-grid {
    grid-template-columns: 1fr;
  }
}

.type-card {
  background: white;
  padding: 18px;
  border-radius: 18px;
  border: 1px solid #f1f1f1;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.06);
  cursor: pointer;
  transition: 0.2s;
}

.type-card:hover {
  transform: translateY(-4px);
}

.type-card.active {
  border: 2px solid black;
}

.type-card h3 {
  margin-bottom: 6px;
}

.type-card p {
  color: #444;
  font-size: 14px;
  line-height: 22px;
}

.request-form-card {
  margin-top: 22px;
  border-radius: 20px;
  padding: 22px;
}

.request-form-card input,
.request-form-card textarea {
  width: 100%;
  padding: 12px;
  margin: 10px 0px;
  border: 1px solid #ddd;
  border-radius: 12px;
  outline: none;
  font-size: 14px;
}

.request-form-card input:focus,
.request-form-card textarea:focus {
  border-color: black;
}

.request-form-card textarea {
  height: 110px;
  resize: none;
}

.request-actions {
  display: flex;
  gap: 12px;
  margin-top: 12px;
  flex-wrap: wrap;
}
.request-actions button {
  padding: 12px;
  border-radius: 8px;
  border: none;
  font-size: 14px;
  font-weight: 600;
}
.request-actions button.submit-btn {
  background-color: #007bff;
  color: white;
}
.request-actions button.cancel-btn {
  background-color: #f1f1f1;
  color: #444;
}
.request-actions button.cancel-btn:hover {
  background-color: #e1e1e1;
}
.request-actions button.submit-btn:hover {
  background-color: #0069d9;
}
